@charset "UTF-8";

@font-face {
  font-family: 'Conv_HelveticaNeueCyr';
  src: local("☺"), url("./fonts/helveticaCyr/HelveticaNeue-Bold-Italic.woff") format("woff"), url("./fonts/helveticaCyr/HelveticaNeue-Bold-Italic.woff2") format("woff2"), url("./fonts/helveticaCyr/HelveticaNeue-Bold-Italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Conv_HelveticaNeueCyr';
  src: local("☺"), url("./fonts/helveticaCyr/HelveticaNeue-Bold.woff") format("woff"), url("./fonts/helveticaCyr/HelveticaNeue-Bold.woff2") format("woff2"), url("./fonts/helveticaCyr/HelveticaNeue-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Conv_HelveticaNeueCyr';
  src: local("☺"), url("./fonts/helveticaCyr/HelveticaNeue-Medium.woff") format("woff"), url("./fonts/helveticaCyr/HelveticaNeue-Medium.woff2") format("woff2"), url("./fonts/helveticaCyr/HelveticaNeue-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Conv_HelveticaNeueCyr';
  src: local("☺"), url("./fonts/helveticaCyr/HelveticaNeue-Regular-Italic.woff") format("woff"), url("./fonts/helveticaCyr/HelveticaNeue-Regular-Italic.woff2") format("woff2"), url("./fonts/helveticaCyr/HelveticaNeue-Regular-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Conv_HelveticaNeueCyr';
  src: local("☺"), url("./fonts/helveticaCyr/HelveticaNeue-Regular.woff") format("woff"), url("./fonts/helveticaCyr/HelveticaNeue-Regular.woff2") format("woff2"), url("./fonts/helveticaCyr/HelveticaNeue-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Conv_HelveticaNeueCyr';
  src: local("☺"), url("./fonts/helveticaCyr/HelveticaNeue-Light-Italic.woff") format("woff"), url("./fonts/helveticaCyr/HelveticaNeue-Light-Italic.woff2") format("woff2"), url("./fonts/helveticaCyr/HelveticaNeue-Light-Italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Conv_HelveticaNeueCyr';
  src: local("☺"), url("./fonts/helveticaCyr/HelveticaNeue-Light.woff") format("woff"), url("./fonts/helveticaCyr/HelveticaNeue-Light.woff2") format("woff2"), url("./fonts/helveticaCyr/HelveticaNeue-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Conv_HelveticaNeueCyr';
  src: local("☺"), url("./fonts/helveticaCyr/HelveticaNeue-UltraLight.woff") format("woff"), url("./fonts/helveticaCyr/HelveticaNeue-UltraLight.woff2") format("woff2"), url("./fonts/helveticaCyr/HelveticaNeue-UltraLight.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Conv_HelveticaNeueCyr';
  src: local("☺"), url("./fonts/helveticaCyr/HelveticaNeue-Thin.woff") format("woff"), url("./fonts/helveticaCyr/HelveticaNeue-Thin.woff2") format("woff2"), url("./fonts/helveticaCyr/HelveticaNeue-Thin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@-ms-viewport {
  width: device-width;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
em,
strike,
strong,
s,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
main {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  outline: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
main,
menu {
  display: block;
}

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
  -ms-overflow-style: scrollbar;
  box-sizing: border-box;
}

body {
  font: 16px/1.5 "Conv_HelveticaNeueCyr", "Helvetica Neue", Helvetica, Arial, Tahoma, Verdana, sans-serif;
  text-align: left;
  background: #fff;
  color: #212121;
  overflow: auto;
  font-weight: 200;
  letter-spacing: 0.03em;
}

html,
body {
  height: auto;
  -webkit-text-size-adjust: auto;
  -ms-text-size-adjust: auto;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ol,
ul {
  list-style: none;
}

img {
  border-style: none;
  vertical-align: middle;
}

b,
strong {
  font-weight: 500;
}

a {
  color: #00E7BF;
  background: transparent;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration-skip: spaces;
  transition: color 0.5s;
  text-decoration-skip: objects;
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
}

a:hover {
  text-decoration: underline;
}

a:hover,
a:active {
  outline: 0;
}

a,
area,
button,
input:not([type="range"]),
label,
select,
textarea,
.btn {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

strong {
  font-weight: 400;
}

table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
  empty-cells: show;
}

td,
td img {
  vertical-align: top;
}

th {
  text-align: inherit;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #D8D8D8;
}

svg:not(:root) {
  overflow: hidden;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

[tabindex="-1"]:focus {
  outline: none !important;
}

input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  line-height: 1.25;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="checkbox"] {
  vertical-align: baseline;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

button,
label,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  cursor: pointer;
}

input[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

button,
select {
  text-transform: none;
}

button,
input {
  overflow: visible;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.color-alert {
  color: #FEEC9B;
}

.btn {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 3px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
  padding: 7px 15px 8px;
  text-decoration: none;
  background-color: transparent;
}

.btn--green {
  color: #00E7BF;
  border: 1px solid currentColor;
}

.btn--green:hover {
  text-decoration: none;
  background: #00E7BF;
  border-color: #00E7BF;
  color: #fff;
  text-shadow: none;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

.btn--filled {
  color: #fff;
  border: 1px solid #00E7BF;
  background-color: #00E7BF;
  padding: 4px 32px 5px;
}

.btn--filled:hover {
  background-color: transparent;
}

.btn--back {
  border: 1px solid #fff;
  color: white;
  padding: 4px 16px 5px 38px;
  position: relative;
}

.btn--back:before {
  content: '←';
  font-size: 14px;
  position: absolute;
  top: 4px;
  left: 18px;
  transition: left 0.3s ease-in-out;
}

.btn--back:hover:before {
  left: 13px;
}

.btn--blue-white {
  color: #002590;
  border: 1px solid currentColor;
  padding: 0 25px 2px;
}

.btn--blue-white:hover {
  text-decoration: none;
  background: #002590;
  border-color: #002590;
  color: #fff;
  text-shadow: none;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

.btnHollow {
  border: 1px solid #fff;
  color: #fff;
  box-shadow: 0 0 0 transparent;
  transition: background-color 0.3s ease-in-out;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.btnHollow:hover {
  text-decoration: none;
  color: #05cec7;
  background: #fff;
  text-shadow: none;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

.link {
  position: relative;
  display: inline-block;
}

.link:hover {
  text-decoration: none;
}

.link:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s;
}

.link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

#root {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.body {
  background: #002590;
  background: linear-gradient(45deg, #05cec7 0%, #002590 100%);
}

.container {
  max-width: 960px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.page {
  color: #fff;
  padding-top: 90px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  overflow: hidden;
}

.logo {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo__img {
  display: inline-block;
  max-width: 200px;
  margin-right: 12px;
}

.logo__text {
  display: inline-block;
  padding: 0 12px;
  border-left: 1px solid #fff;
  font-size: 24px;
  line-height: 1.1;
}

.pageLegend {
  text-align: center;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 35px;
  cursor: default;
}

.pageLegend__title {
  font-size: 36px;
  line-height: 1.16667;
  font-weight: 400;
}

.pageLegend__text {
  font-size: 24px;
  line-height: 1.16667;
  font-weight: 300;
  padding-top: 16px;
}

.formBox {
  margin-bottom: 35px;
}

.formBox__label {
  color: #fff;
  margin-bottom: 16px;
  display: block;
  cursor: default;
  text-align: center;
  line-height: 1;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.05);
  font-weight: 300;
}

.mainForm {
  position: relative;
}

.mainForm__input {
  width: 100%;
  height: 36px;
  line-height: 36px;
  background: #fff;
  border: 0;
  border-radius: 5px;
  padding: 0 155px 0 20px;
  outline: none;
  color: #212121;
  transition: box-shadow 0.3s ease;
  font-weight: 400;
}

.mainForm__input::-webkit-input-placeholder {
  opacity: 1;
  color: #B1B1B1;
  font-weight: 300;
}

.mainForm__input::-moz-placeholder {
  opacity: 1;
  color: #B1B1B1;
  font-weight: 300;
}

.mainForm__input:-ms-input-placeholder {
  opacity: 1;
  color: #B1B1B1;
  font-weight: 300;
}

.mainForm__input::placeholder {
  opacity: 1;
  color: #B1B1B1;
  font-weight: 300;
}

.mainForm__input:focus {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}

.mainForm__send {
  position: absolute;
  right: 0;
  top: 0;
  width: 137px;
  height: 36px;
  background: #00E7BF;
  color: #fff;
  border-radius: 0 5px 5px 0;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.05);
  outline: none !important;
  border: 0;
  transition: background-color 0.3s ease;
  font-size: 18px;
  z-index: 1;
}

.mainForm__send:hover {
  background: #00d8b2;
}

.mainForm__send.has-disabled,
.mainForm__send:disabled {
  background: #D8D8D8;
  cursor: default;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 420px) {
  .mainForm {
    text-align: center;
  }

  .mainForm__input {
    text-align: left;
    padding-right: 20px;
  }

  .mainForm__send {
    position: static;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 5px;
  }
}

.checkResult {
  text-align: center;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.05);
  min-height: 116px;
  padding-top: 24px;
  padding-bottom: 24px;
  opacity: 0;
}

.checkResult__title {
  font-size: 23px;
  line-height: 1.21739;
  display: block;
  margin-bottom: 15px;
  font-weight: 400;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.checkResult__title span {
  font-weight: 400;
}

.checkResult__text {
  font-size: 14px;
  line-height: 1.14286;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  overflow: auto;
}

.pageHelper {
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.pageHelper__nowallet {
  margin-right: 15px;
}

.pageHelper__btn {
  font-size: 14px;
  margin-right: 25px;
}

@media screen and (max-width: 680px) {
  .pageHelper {
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .pageHelper__nowallet {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .pageHelper__btn {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.bg {
  width: 100%;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-top: auto;
  text-align: center;
  padding-top: 80px;
}

.bg img {
  max-width: 100%;
}

.footer {
  color: #fff;
  line-height: 1.2;
  overflow: hidden;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background: linear-gradient(95deg, #04B7BF 0%, #01419A 100%);
}

.footer__p {
  margin-bottom: 8px;
}

.footer__p:last-child {
  margin-bottom: 0;
}

.footer_a {
  color: #fff;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.footer_a:hover {
  color: #fff;
  text-decoration: none;
}

.footer__table {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  height: 105px;
}

.footer__sep {
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 50px;
  background: #fff;
  margin-left: 22px;
  margin-right: 22px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.footer__address {
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.footer__info {
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  text-align: right;
}

@media screen and (max-width: 800px) {
  .footer__table {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
  }

  .footer__address {
    text-align: center;
  }

  .footer__info {
    text-align: center;
    margin-bottom: 10px;
  }

  .footer__p {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom: 0;
  }

  .footer__sep {
    height: 1px;
    width: 100%;
    display: block;
    clear: both;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer__soc {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }
}

.socials {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.socials__list {
  overflow: hidden;
  margin-bottom: -11px;
  transform: translateX(6px);
  line-height: 1;
  display: -ms-flexbox;
  display: flex;
  max-width: 195px;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.socials__item {
  display: inline-block;
  float: left;
  vertical-align: top;
  width: 20px;
  text-align: center;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 11px;
}

.socials__item:nth-child(5n) {
  clear: both;
}

.socials__link {
  display: inline-block;
  vertical-align: top;
  transition: opacity 0.3s ease;
}

.socials__link:hover {
  opacity: 0.7;
}

.socials__icn {
  display: block;
  max-width: 100%;
  width: 20px;
}

@media screen and (max-width: 800px) {
  .socials__list {
    display: inline-block;
    vertical-align: top;
  }

  .socials__item:nth-child(5n) {
    clear: none;
  }
}

.modalLayer {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow: scroll;
  display: none;
}

.modalLayer .modalLayer__modal {
  background-color: #fff;
  max-width: 600px;
  width: 100%;
  border-radius: 5px;
  padding: 30px 25px 35px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalLayer .modalLayer__title {
  font-size: 24px;
  margin-bottom: 25px;
  font-weight: 400;
}

.modalLayer .modalContent {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 0;
  border-top: 1px solid #D8D8D8;
}

.modalLayer .modalContent:last-child {
  border-bottom: 1px solid #D8D8D8;
}

.modalLayer .modalContent__name {
  font-weight: 500;
  margin-right: 15px;
}

.modalLayer .modalContent__hash {
  margin-right: 30px;
  font-weight: 300;
}

@media screen and (max-width: 680px) {
  .modalLayer .modalContent {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .modalLayer .modalContent__name {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
  }

  .modalLayer .modalContent__hash,
  .modalLayer .modalContent__button {
    margin-bottom: 10px;
  }
}

.dropzone {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  border: 1px dashed #00E7BF;
  border-radius: 4px;
  padding: 63px;
  font-weight: 300;
  min-height: 230px;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}

.dropzone--dragging {
  background-color: rgba(0, 229, 173, 0.2);
}

.dropzone__file-uploader {
  -ms-flex-item-align: center;
  align-self: center;
  margin-top: 12px;
}

.dropzone__input {
  display: none;
}

.condition {
  margin-top: 88px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.condition__status + .condition__back {
  margin-top: 16px;
}

.condition__status {
  font-size: 24px;
  font-weight: 700;
  padding: 9px 88px 10px;
  border-radius: 6px;
}

@media screen and (max-width: 680px) {
  .condition__status {
    font-size: 18px;
    padding: 9px 30px 10px;
  }
}

@media screen and (max-width: 480px) {
  .condition__status {
    width: 100%;
    text-align: center;
    font-size: 16px;
  }
}

.condition__status--ok {
  background-color: #002590;
  border: 1px solid #002590;
  color: #fff;
}

.condition__status--ok:after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 26px;
  border-bottom: 3px solid #00E7BF;
  border-right: 3px solid #00E7BF;
  transform: rotate(45deg);
  margin-left: 8px;
}

@media screen and (max-width: 680px) {
  .condition__status--ok:after {
    transform: scale(0.8) rotate(45deg);
    vertical-align: -2px;
    margin-left: 6px;
  }
}

.condition__status--error {
  border: 1px solid #FF5760;
  color: #FF5760;
}

.selectBox {
  width: 60px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 15px;
  right: 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: end;
  align-items: flex-end;
  cursor: pointer;
}
.selectBox .input {
  padding-right: 15px;
  width: 65px;
  position: relative;
  text-align: right;
}
.selectBox .input::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 0;
  border-style: solid;
  border-color: transparent #fff;
  height: 3px;
  width: 10px;
  border-width: 4px 8px 4px 0;
  transform: rotate(-90deg);
  vertical-align: 3px;
  transition: transform .3s ease-in-out;
  transform-origin: center center;
}
.selectBox.active .input::after {
  transform: rotate(90deg);
}
.selectBox .options {
  width: 66px;
  padding: 8px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
  border-radius: 3px;
  margin-top: 10px;
  transition: transform .3s ease-in-out;
}